*{font-family: 'Montserrat', sans-serif;}


.box{
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:2em auto;
    padding:2em;
    text-align: center;
    min-height: 60vh;
}

h2{
    color:var(--testo-colore);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3em;
}

form{
    margin:0 auto;
    display: grid;
    grid-template-columns: auto;
    width: 60%;
}


#mat-mdc-error-2{border:green 1px solid;
padding:0;
position:relative;

width:100%;
display: block;}

/* RESPONSIVE */

@media screen and (min-width: 1200px) {
  

  }


@media screen and (max-width: 1200px) {

    .box{width: 100%;}

  }


  @media screen and (max-width: 768px) {


  

}

@media screen and (max-width: 468px) {

    .box{width: 100%;}
   form{width: 90%;}
} 