
<div class="box" routerLink="cerca">
  <img src="../../../assets/Img/logo.png" alt="">
  <h2>Cerca i tuoi film o serie preferite</h2>
  <p>Siamo contenti che tu sia qui! Su LabTv puoi scoprire facilmente dove guardare i tuoi film e le tue serie preferiti in Italia. LabWatch è semplice e efficace: scegli il tuo provider preferito e guarda cosa guardare su Netflix, Amazon Prime Video, TIMvision e altri 13 provider di streaming.
    Abbiamo organizzato questa lista di film e programmi televisivi per popolarità per aiutarti a trasmettere i migliori online in Italia. In questo momento, tra i migliori film che puoi guardare online, guarderai Solo: A Star Wars Story, Avengers: Infinity War e Assassinio sull'Orient Express. Per quanto riguarda gli series, i più popolari disponibili in streaming legale in questo momento sono The Big Bang Theory, The Walking Dead e American Horror Story.
    </p>
  <form class="example-form" (ngSubmit)="search()">
    <input [(ngModel)]="searchTerm" name="searchTerm" type="text" placeholder="Search..." focus>
    <button type="submit" value="CERCA" mat-raised-button color="warn">CERCA</button>
  </form>

</div>

<div class="contenitore">
  <mat-card *ngFor="let movie of searchResults$ | async" class="example-card">
    <mat-card-header>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.release_date | date:'yyyy' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{ movie.title }}" class="movie-poster" alt="{{movie.title}}">
  </mat-card>
</div>