<p routerLink="contatti"></p>

<div class="box">
  <h2>CONTATTACI</h2>

  <form action="">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    
      <mat-form-field>
        <mat-label>la tua Email</mat-label>
        <input type="email" matInput placeholder="pat@example.com" required>
      </mat-form-field>
    
    
    <mat-form-field>
      <mat-label>Messaggio</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

<label for="checkbox">
  <input id="checkbox" type="checkbox"> Accetto la normativa sulla privacy
</label>

    <button type="submit" mat-raised-button color="warn">Invia</button>
    
  </form>


</div>